/* @import url('https://fonts.googleapis.com/css?family=Roboto:Thin,Regular'); */

body { 
    margin: 0;
    padding: 50px 0 50px 0;
    color: dimgray;
    font-family: 'Nunito Sans', Calibri, sans-serif;
    font-size: 14px;
    line-height: 21px;
}

/*--------------------TYPOGRAPHY--------------------*/

h1,h2,h3,h4,h5,h5,p {
    margin-left: auto;
    margin-right: auto;
    width: 640px;
}

h1 {
    margin-bottom: 48px;
    font-size: 64px;
    font-weight: 200;
    text-align: center;
}

h2 {
    margin-bottom: 60px;
    font-weight: 200;
    text-align: center;
}
            
h4 {    
    font-size: 12px;
    font-weight: 200;
    display: inline;
}

h3, .title {
    fill: dimgray;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
}

p, .subtitle {
    width: 640px;
    font-size: 14px;
    font-weight: 200;
    line-height: 24px;
}

.axis-title {
    fill: gray;
    font-size: 14px;
    font-weight: 600;
}

.axis-label {
    fill: gray;
    font-size: 12px;
    font-weight: 200;
}

.country-label {
    fill: gray;
    font-size: 12px;
    font-weight: 300;
}

.finish {
    fill: lightcoral;
    font-size: 14px;
    font-weight: 600;
}

.hover-athlete {
    font-size: 11px;
    font-weight: 700;
}
.hover-desc {
    font-size: 9px;
    font-weight: 400;
}

/*--------------------DIVS--------------------*/

.filter-game {
    width: 356px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
}

.filter-gender {
    width: 248px;
    margin-left: auto;
    margin-right: auto; 
}

.br {
    width: 640px;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    background-color: lightgray;
}

/*--------------------BUTTONS--------------------*/

button:hover {
    color: white;
    background-color: lightgray;
}

button:focus {
    color: white;
    background-color: dimgray;
    border-color: dimgray;
    outline: none;
}

.seg-nav {
    width: 120px;
    height: 24px;
    margin: 0;
    padding: 0;
    background-color: white;
    border: solid lightgrey 1px;
    margin-bottom: 10px;
}

.seg-nav.left {
    margin-right: -6px;
    border-radius: 12px 0 0 12px;
}

.seg-nav.right {
    margin-left: -6px;
    border-radius: 0 12px 12px 0;
}

/*--------------------SVG--------------------*/

svg {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: solid lightgray 0px; 
    
}

/*--------------------MISCELLANEOUS--------------------*/

.scatterPlot {
    background-color: #212F3C  ;
}

.axis {
    font-family: 'Nunito Sans', Calibri, sans-serif;
    font-size: 9px;
}

#poolViz, #discusViz {
    display: none;
}

.hover-sport {

    font-family: 'Nunito Sans', Calibri, sans-serif;
    font-weight: 200;
    font-size: 18px;
    line-height: 21px;
}

.groupText {
    font-family: 'Nunito Sans', Calibri, sans-serif;
    font-weight: 200;
    
}

.graphAxis {
    font-family: 'Nunito Sans', Calibri, sans-serif;
    font-weight: 200;
}

.axis path{
    stroke: lightGrey;
    
}

.axis text{
    fill: grey;
}


.info-containter {
    display: block;
}


