@import url('https://fonts.googleapis.com/css?family=Roboto:Thin,Regular');

body { 
    padding: 50px;
    font-family: 'Nunito Sans', Calibri, sans-serif;
    font-size: 14px;
    line-height: 21px;
}
            
h4 {    
    display: inline-block;
}
            
p {
    width: 500px;
    margin-bottom: 24px;
}
            
em {
    /*background-color: rosybrown;*/
    background-color: black;
    font-style: italic;
    color: white;
}

svg {  
    margin: 24px 0 24px 0;
    border: solid lightgray 1px; 
}

.scatterPlot {
    background-color: #212F3C  ;
}

.axis {
    font-family: 'Nunito Sans', Calibri, sans-serif;
    font-size: 9px;
}
